*{
    font-size: 0.98rem
}
.controlLabel{
    color: #555;
}
select{
    background-color: white;
}
.picker{
    outline: none;
    padding: 2px;
    margin: 0 0.5rem;
}
.picker:active{
    box-shadow: 0 0 10px #91c8f5;
}