.tab{
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 2px;
    color: #666;
}